# EditorConfig is awesome: http://EditorConfig.org

root = true

# defaults to tab-indented (use smart-tabs)
[*]
indent_style = tab
end_of_line = lf
charset = "utf-8"
insert_final_newline = true
trim_trailing_whitespace = true

# generated json is using 2 spaces
{package.json}
indent_style = space
indent_size = 2
