obj
bin
src/*.js
src/*/*.js
src/*/*/*.js
src/*/*/*/*.js
src/*/*/*/*/*.js
NodeJs/*.js
NodeJs/*/*.js
NodeJs/*/*/*.js
NodeJs/*/*/*/*.js
NodeJs/*/*/*/*/*.js
Wsh/*.js
Wsh/*/*.js
Wsh/*/*/*.js
Wsh/*/*/*/*.js
Wsh/*/*/*/*/*.js
tsd.csproj
tsd.csproj.user
tsd.sln
tsd.v11.suo