/.idea
/assets
/cache
/cookbooks
/deploy
/docs
/media
/scratch
/src
/tasks
/test
/typings
/tsd-cache
/util
/lib
/scratch

/tsd-config.json
/tsd.json
/tslint.json
/Vagrantfile
/Gruntfile.js

/.travis.yml
/appveyor.yml
/.jshintrc
/.vagrant
/.editorconfig
/.tscache
/.grunt

.npmignore
.gitignore
.gitmodules
.gitattributes

/tscommand*

tmp/

/*.tgz
/*.txt
/*.ts
