.npmignore
.gitignore
.gitmodules
.idea

/*.tgz

tmp/

.travis.yml
.jshintrc
.vagrant
.jslintrc
.tslint.json
Gruntfile.js
tsd-config.json
tsd.json
tslint.json
Vagrantfile
tscommand.*

/assets
/cache
/cookbooks
/deploy
/docs
/media
/src
/test
/util
/typings
/tsd-cache
