/.idea
/assets
/cache
/cookbooks
/deploy
/docs
/media
/src
/tasks
/test
/typings
/tsd-cache
/util
/lib

/tsd-config.json
/tsd.json
/tslint.json
/Vagrantfile
/Gruntfile.js

.npmignore
.gitignore
.gitmodules

.travis.yml
.jshintrc
.vagrant
.editorconfig

/tscommand*

tmp/

/*.tgz
/*.txt
